body{ 
    background-image: url(flores-blangrises-texturas-pantalla-ancha-951524.jpg);
    background-size: 100vw 100vh
}



form { width: 700px;
    height:580px;
    margin:auto;
    background: #5789a1;
    padding: 10px 20px;
    box-sizing: border-box;
    margin-top:20px;
    border-radius: 10px
  }


h2 {color: #17202a;
    text-align: center;
    margin: 0;
    font-size: 30px;
    margin-bottom: 20px;
 }


textarea{
    width: 400%;
    height: 300%;
    margin-bottom: 2opx;
    padding:  7px;
    box-sizing: border-box;
    font-size: 17px;
    border:none;
    min-height: 100px;
    max-height: 200px;
    max-width: 100%;

}
#buttonCipher{
    background: #9e9ba3;
    color:#010808;
    padding: 10px;
    cursor:pointer;
    

}

#buttonDescipher{
    background: #9e9ba3;
    color:#010808;
    padding: 10px;
    cursor:pointer;
}